<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
                <div class="row">
                    <ul class="timeline">
                        <li>
                            <!-- <div class="timeline-badge up bg-green">
                                <i class="fa fa-thumbs-up"></i>
                            </div> -->
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Internship in the company Ecapital (Rabat)</div>
                                        <div class="h6 mt-0 title">Associate Software Engineer (July - September 2021)</div>
                                        <p align="justify">Conception and realization of a hybrid application of good ecological practices, allowing to sensitize people to protect the environment.</p>
                                        <p align="justify">Worknig as full stack developer</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Software Development</li>
                                                <li class="non_list">Application Development</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Angular</li>
                                                        <li class="non_list">IONIC</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Cloud Firestore</li>
                                                        <li class="non_list">Firebase Authentification</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
    </div>
</div>
        